.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 80px;
  background: rgba(11, 15, 20, 0.8);
  backdrop-filter: blur(8px);
}

/* LOGO */
.nav-logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #e5e7eb;
}

.nav-logo span {
  color: var(--accent);
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 36px;
}

.nav-links a {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #cbd5f5;
  position: relative;
  padding-bottom: 6px;
  transition: color 0.3s ease;
}

/* UNDERLINE EFFECT */
.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--accent);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
}

.nav-links a:hover::after {
  width: 100%;
}

/* CONTACT BUTTON */
.contact-btn {
  border: 1px solid var(--accent);
  padding: 8px 18px;
}

.contact-btn::after {
  display: none;
}

.contact-btn:hover {
  background: var(--accent);
  color: #020617;
}

/* this is for mobile responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
